{% load static %}

<!DOCTYPE html>

<html>

<head>

    <title>My E-Commerce Store</title>

    <link rel="stylesheet"
          href="{% static 'store/style.css' %}">

</head>

<body>

<header>

    <h1>🛒 My E-Commerce Store</h1>

    <nav>

        <a href="/">Home</a>

        <a href="{% url 'cart' %}">
            Cart
        </a>

        {% if user.is_authenticated %}

            <span>
                Welcome, {{ user.username }}
            </span>

            <a href="{% url 'orders' %}">
                My Orders
            </a>

            <a href="{% url 'logout' %}">
                Logout
            </a>

        {% else %}

            <a href="{% url 'login' %}">
                Login
            </a>

            <a href="{% url 'register' %}">
                Register
            </a>

        {% endif %}

    </nav>

</header>


<div class="container">

    <h2>Our Products</h2>

    <div class="products">

        {% for product in products %}

        <div class="product-card">

            {% if product.image %}

                <img
                    src="{{ product.image }}"
                    alt="{{ product.name }}">

            {% endif %}

            <h2>
                {{ product.name }}
            </h2>

            <p>
                {{ product.description }}
            </p>

            <p class="price">
                ₹{{ product.price }}
            </p>

            <p>
                Stock: {{ product.stock }}
            </p>

            <a
                href="{% url 'product_detail' product.id %}"
                class="button">

                View Details

            </a>

        </div>

        {% empty %}

            <p>No products available.</p>

        {% endfor %}

    </div>

</div>

<script src="{% static 'store/script.js' %}"></script>

</body>

</html>