{% load static %}

<!DOCTYPE html>

<html>

<head>

    <title>Register</title>

    <link rel="stylesheet"
          href="{% static 'store/style.css' %}">

</head>

<body>

<header>

    <h1>🛒 Create Account</h1>

</header>


<div class="form-container">

    <h2>Register</h2>

    {% if error %}

        <p class="error">
            {{ error }}
        </p>

    {% endif %}


    <form method="POST">

        {% csrf_token %}

        <label>
            Username
        </label>

        <input
            type="text"
            name="username"
            required>


        <label>
            Email
        </label>

        <input
            type="email"
            name="email"
            required>


        <label>
            Password
        </label>

        <input
            type="password"
            name="password"
            required>


        <button type="submit">
            Register
        </button>

    </form>


    <p>
        Already have an account?

        <a href="{% url 'login' %}">
            Login
        </a>
    </p>

</div>

</body>

</html>